@import 'tailwindcss';

@layer base {
  body {
    @apply antialiased text-gray-800 bg-[#faf9f6];
  }
}

@layer utilities {
  .word-break-keep {
    word-break: keep-all;
  }
}

/* Custom scrollbar for modals */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-200 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}
